.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
}

.modal{
    background:#fff;
    width:650px;
    max-width:95%;
    border-radius:12px;
    padding:25px;
}

.modal-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.close-btn{
    border:none;
    background:none;
    font-size:22px;
    cursor:pointer;
}