*{
  box-sizing:border-box;
}

.layout{
  display:flex;
  width:100%;
  min-height:100vh;
}

.main-content{
  margin-left:260px;
  width:calc(100% - 260px);
  min-height:100vh;
  display:flex;
  flex-direction:column;
}

.dashboard-wrapper{
  width:100%;
  padding:25px;
}